<div class="container header-container">
  <nav class="header-nav header-container">
    <a class="icon-link icon-header link header-paddings" href="#"
      ><span class="icon-link-web"><%= __('appName') %></span>Manager</a
    >
    <ul class="header-list list header-container">
      <li class="header-item">
        <a
          class="menu-link link header-paddings <%= currentPage === 'template' ? 'menu-link-selected' : '' %>"
          href="/template"
          ><%= __('orgTree') %></a
        >
      </li>
      <li class="header-item">
        <a
          class="menu-link link header-paddings <%= currentPage === 'projects' ? 'menu-link-selected' : '' %>"
          href="/projects"
          ><%= __('projects') %></a
        >
      </li>
      <li class="header-item">
        <a
          class="menu-link link header-paddings <%= currentPage === 'clients' ? 'menu-link-selected' : '' %>"
          href="/clients"
          ><%= __('clients') %></a
        >
      </li>
      <li class="header-item">
        <a
          class="menu-link link header-paddings <%= currentPage === 'learnings' ? 'menu-link-selected' : '' %>"
          href="/learnings"
          ><%= __('learnings') %></a
        >
      </li>
    </ul>
  </nav>
  <div class="header-item header-profile">
    <ul class="header-list list header-container">
      <li>
        <a
          class="menu-link link header-paddings <%= currentPage === 'calendar' ? 'menu-link-selected' : '' %>"
          href="/calendar"
          ><%= __('calendar') %></a
        >
      </li>
      <li class="profile-margin">
        <a
          class="menu-link link header-paddings <%= currentPage === 'profile' ? 'menu-link-selected' : '' %>"
          href="/profile"
          onclick="window.location.href='/profile'"
          ><%= __('profile') %></a
        >
      </li>
      <li class="profile-margin">
        <a
          class="menu-link link header-paddings <%= currentPage === 'settings' ? 'menu-link-selected' : '' %>"
          href="/settings"
          ><svg
            class="header-icon <%= currentPage === 'settings' ? 'menu-link-selected' : '' %>"
            width="30"
            height="30"
          >
            <use href="/icons.svg#icon-settings"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</div>
