<!DOCTYPE html>
<html lang="<%= i18n.getLocale() %>">
  <head>
    <%- include('../parts/head'); %>
  </head>
  <body>
    <header class="header"><%- include('../parts/header'); %></header>
    <main>
      <section class="section3 sections-padding">
        <div class="container client-container">
          <h2 class="secondary-header visually-hidden">Our Clients</h2>
          <ul class="section3-list list sections-list">
            <% teamMembers.forEach(teamMember => { %>
            <li class="section3-item">
              <picture>
                <img
                  class="section3-image"
                  src="/img/desktop/<%= teamMember.image_name %>@1x.jpg"
                  alt="Italo Melo's photo"
                  width="234"
                  height="230"
                  loading="lazy"
                />
              </picture>
              <div class="text-about-team">
                <h2 class="section-subtitle">
                  <%= teamMember.team_member_name %>
                </h2>
                <p class="main-text section3-text-margin">
                  <%= teamMember.company_name%>
                </p>
                <ul class="socials-links-list sections-list list">
                  <li class="socials-links-item">
                    <a
                      href="https://gmail.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="/icons.svg#icon-mail"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://facebook.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://linkedin.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <% }); %>
          </ul>
          <% if (req.cookies.role && req.cookies.role == "admin") { %>
          <span class="add-learning" id="addClientLink">&times;</span><% } %>
        </div>
      </section>
    </main>
    <div id="addClientModal" class="modal">
      <div class="modal-content client-modal-content">
        <span class="close close-client">&times;</span>
        <form action="/add-client" method="POST" enctype="multipart/form-data">
          <div class="modal-data client-modal-data">
            <ul class="learning-list client-list list">
              <li class="learning-item client-item">
                <div class="team-member-name client-div">
                  <label for="team_member_name"><%= __('clientName') %></label>
                  <input
                    type="text"
                    id="team-member-name"
                    name="team_member_name"
                    class="learning-input client-input"
                    required
                  />
                </div>
                <div class="company-name client-div">
                  <label for="company_name"><%= __('companyName') %></label>
                  <input
                    type="text"
                    id="company-name"
                    name="company_name"
                    class="learning-input client-input"
                    required
                  />
                </div>
              </li>
              <li class="learning-item project-item">
                <div class="email">
                  <label for="email">Email:</label>
                  <input
                    type="text"
                    id="email"
                    name="email"
                    class="learning-input project-input"
                    required
                  />
                </div>
                <div class="facebook">
                  <label for="facebook">Facebook:</label>
                  <input
                    type="text"
                    id="facebook"
                    name="facebook"
                    class="learning-input project-input"
                    required
                  />
                </div>
                <div class="linkedin">
                  <label for="linkedin">LinkedIn:</label>
                  <input
                    type="text"
                    id="linkedin"
                    name="linkedin"
                    class="learning-input project-input"
                    required
                  />
                </div>
              </li>
              <li class="learning-item project-item">
                <div class="image client-div">
                  <label for="image"><%= __('image') %></label>
                  <input
                    type="file"
                    id="image"
                    name="image"
                    class="learning-input client-input"
                    required
                  />
                </div>
              </li>
            </ul>

            <button type="submit" id="sendClientBtn" class="settings-btn">
              <%= __('send_button') %>
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
